# dependencies
node_modules
dist


# IDEs and editors
.vscode


# This is for my own personal use, I am working on a fork of luaparse
src/luaparse/

# This is also my own personal scripts.
scripts

package-lock.json